[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
opencv-python = "*"
numpy = "*"
coverage = "*"
keras-applications = "*"
keras-preprocessing = "*"

[dev-packages]

[requires]
python_version = "3.8"
